<div class="container-fluid text-center">
	<div class="row content">
		<div class="panel-heading">
			<div class="panel-title text-center">
				<h1 class="title">Select DropDown to View the Charts</h1>
				<hr />
			</div>
		</div>
		<div class="col-sm-8 text-center">
<!-- 		<div *ngIf="chart"> -->
		<canvas id="chartcanvas">{{ chart }}</canvas>
<!-- </div> -->
		</div>
		<div class="col-sm-4 text-left">
			<select (change)="chartforoption($event.target.value)">
        	<option *ngFor="let chart of charts" value={{chart.value}}>
            	{{chart.key}}
        	</option>
    	</select>
		</div>
		
	</div>
</div>

